<%- include("partials/header.ejs") %>
<main>
    <div class="box" id="heading">
        <h1><%= new Date().getDate();  %>  
            <%= mon  %> -
            <%= dy  %>
        </h1>
    </div>
    <div class="box">
        <div class="item">
            <input type="checkbox"> 
            <P>DBS</P>
        </div>
        <div class="item">
            <input type="checkbox"> 
            <P>Naruto</P>
        </div>
        <div class="item">
            <input type="checkbox"> 
            <P>Bleach</P>
        </div>
        <div class="item">
            <input type="checkbox"> 
            <P>BnHA</P>
        </div>
        <div class="item">
            <input type="checkbox"> 
            <P>Black Clover</P>
        </div>
        <div class="item">
            <input type="checkbox"> 
            <P>7DS</P>
        </div>
        <div class="item">
            <input type="checkbox"> 
            <P>YLIA</P>
        </div>
        <div class="item">
            <input type="checkbox"> 
            <P>13RY</P>
        </div>
        <div class="item">
            <input type="checkbox"> 
            <P>Money Heist</P>
        </div>
        <div class="item">
            <input type="checkbox"> 
            <P>Dark</P>
        </div>
        <div class="item">
            <input type="checkbox"> 
            <P>Tokyo Revengers</P>
        </div>
        
<%- include("partials/footer.ejs") %>